<fieldset>
    <legend><%= userRoll.toUpperCase() %></legend>
    <table>
        <tr>
            <td>Username: </td>
            <td><%= username %></td>
        </tr>
        <tr>
            <td>Id: </td>
            <td><%= id %></td>
        </tr>
        <tr>
            <td>Company: </td>
            <td><%= compName %></td>
        </tr>
        <tr>
            <td>Contact No.: </td>
            <td><%= contact %></td>
        </tr>
        <tr>
            <td>Job Title: </td>
            <td><%= jobtitle %></td>
        </tr>
        <tr>
            <td>Salary: </td>
            <td><%= salary %></td>
        </tr>
        <tr>
            <td>Location: </td>
            <td><%= location %></td>
        </tr>
    </table>
</fieldset>