<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userlist</title>
</head>
<body>
    <fieldset>
        <legend>User Lists</legend>
        <table border="1">
            <tr>
                <td>Id</td>
                <td>username</td>
                <td>Employer Name</td>
                <td>Company Name</td>
                <td>Contact No</td>
                <td>Job Title</td>
                <td>Job Location</td>
                <td>Salary</td>
                <td>User Roll</td>
                <td>Action</td>
            </tr>
            
            <% users.forEach((user) => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.empName %></td>
                    <td><%= user.compName %></td>
                    <td><%= user.conctNo %></td>
                    <td><%= user.jobTitle %></td>
                    <td><%= user.jobLoc %></td>
                    <td><%= user.salary %></td>
                    <td><%= user.userRoll %></td>
                    <td>
                        <a href="/adminOperation/update/<%= user.id %>"><button style="color: green;">update</button></a>
                        <a href="/adminOperation/delete/<%= user.id %>"><button style="color: red;">delete</button></a>
                    </td>
                </tr>
            <% }); %>

        </table>
        <br>
        <a href="/home/admin"><button>Back</button></a>
    </fieldset>
    <style>
        td{
            text-align: center;
            padding: 2px 14px;
        }
    </style>

</body>
</html>