<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div style="margin: 70px;"></div>
    
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#medicine" data-toggle="tab" class="nav-link">Medicines</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#cart" data-toggle="tab" class="nav-link">Cart</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3"><%= user.user_roll.toUpperCase() %></h5>
                        <div class="row">
                            <div class="col-md-6">
                                <h3><%= user.username %></h3><br>
                                <h6>Contact:</h6>
                                <p>
                                     <%= user.contact %>
                                </p>
                                <h6>Address:</h6>
                                <p>
                                     <%= user.address %>
                                </p>
                            </div>
                            
                            <div class="col-md-6">
                                
                                
                            </div>
                            <div class="col-md-12">
                                <a href="/customer/edit_profile/<%= user.id %>" class="btn btn-secondary">Edit Profile</a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="medicine">
                        <table class="table" id="myTable">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Availability</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">Type</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>

                                <% for(var i=0; i < medicines.length; i++) { %>
                                    <tr>
                                        <th scope="row"><span id="id"><%= medicines[i].id %></span></th>
                                        <td><%= medicines[i].name %></td>
                                        <td><%= medicines[i].availability %></td>
                                        <td><%= medicines[i].price %></td>
                                        <td><%= medicines[i].category %></td>
                                        <td><%= medicines[i].type %></td>
                                        <td><%= medicines[i].vendor %></td>
                                        <td>
                                                <input type="number" id="availability" name="quantity" min="1" max="<%= medicines[i].availability %>" required>
                                                <!-- <a id="cart" href="" class="btn btn-secondary">Add to Cart</a> -->
                                                <input type="submit" id="btn" class="btn btn-secondary" value="Add to Cart">
                                        </td>
                                      </tr>
                                <% } %>
                              
                              
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="cart">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Medicine</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>

                                <% for(var i=0; i < lists.length; i++) { %>
                                    <tr>
                                        <th scope="row"><%= medicines[i].id %></th>
                                        <td><%= lists[i].medicine_name %></td>
                                        <td><%= lists[i].quantity %></td>
                                        <td><%= lists[i].price %></td>
                                        <td>
                                           <form>
                                                <input type="submit" class="btn btn-secondary" value="remove">
                                                <input type="submit" class="btn btn-secondary" value="PLace order">
                                           </form>
                                        </td>
                                      </tr>
                                <% } %>
                              
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2">Upload a different photo</h6>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control">Choose file</span>
                </label><br><br><br>
                <label><a href="/home/logout" class="btn btn-secondary">Logout</a></label>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <script>
        $(document).ready(() => {
            
            $("#myTable").on('click', '#btn', (e) => {
                e.preventDefault();
                var row = $(this).closest("tr");

                var col = row.find("#id").html();
                alert(col);
            });
            
        });
    </script>

</body>
</html>