<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<h1> Userlist</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Username</td>
			<td>Password</td>
			<td>Type</td>
			<td>Action</td>
		</tr>
		

		<% 
			users.forEach( function(user){ %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.username %></td>
				<td><%= user.password %></td>
				<td><%= user.type %></td>
				<td>
					<a href="/user/edit/<%= user.id %>">Edit</a> |
					<a href="/user/delete/<%= user.id %>">Delete</a>
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>