<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= customer.username %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div style="margin: 70px;"></div>


    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3"><%= customer.user_roll.toUpperCase() %></h5>
                        <div class="row">
                            <div class="col-md-6">
                                
                                <fieldset>
                                    <legend></legend>
                                    <h3 style="color: orange;"><%= customer.username %></h3>
                                    <h6>Contact:</h6>
                                    <p>
                                         <%= customer.contact %>
                                    </p>
                                    <h6>Address:</h6>
                                    <p>
                                         <%= customer.address %></5>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                
                                
                            </div>
                            <div class="col-md-12">
                                <a href="/admin/profile" class="btn btn-secondary">Cancel</a>
                                <a href="/admin/delete_customer/<%= customer.id %>" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this customer?');">Delete</a>
                            </div>
                        </div>
                        <!--/row-->

                    </div>
                    

                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2">Upload a different photo</h6>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control"><button class="btn btn-primary">Choose file</button></span>
                </label><br><br><br>
                <label><a href="/home/logout" class="btn btn-secondary">Logout</a></label>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(() => {
            $("#add_medicine_button").click(() => {
                alert('Medicine Added');
            })
        });
    </script>

</body>
</html>