<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div style="margin: 70px;"></div>

    
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#customers" data-toggle="tab" class="nav-link">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#medicines" data-toggle="tab" class="nav-link">Medicines</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#add_medicine" data-toggle="tab" class="nav-link">Add Medicine</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3"><%= user.user_roll.toUpperCase() %></h5>
                        <div class="row">
                            <div class="col-md-6">
                                
                                <fieldset>
                                    <legend></legend>
                                    <h3 style="color: orange;"><%= user.username %></h3>
                                    <p>
                                        Contact: <%= user.contact %>
                                    </p>
                                    <p>
                                        Address: <%= user.address %></5>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                
                                
                            </div>
                            <div class="col-md-12">
                                <a href="" class="btn btn-secondary">Edit Profile</a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="customers">
                        
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Address</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>

                                <% for(var i=0; i < customers.length; i++) { %>
                                    <tr>
                                        <th scope="row"><%= customers[i].id %></th>
                                        <td><%= customers[i].username %></td>
                                        <td><%= customers[i].contact %></td>
                                        <td><%= customers[i].address %></td>
                                        <td>
                                            <a class="btn btn-secondary" href="">View</a>
                                        </td>
                                      </tr>
                                <% } %>
                              
                              
                            </tbody>
                        </table>
                          
                    </div>

                    <div class="tab-pane" id="add_medicine">
                        
                        <form role="form" action="/admin/add_medicine" method="POST">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Medicine name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Price</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="price" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Category</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="category" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Type</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="type" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Availability</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="availability" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Vendor</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="vendor" required>
                                </div>
                            </div>
                                                        
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="submit" class="btn btn-primary" id="add_medicine_button" value="Add medicine">
                                </div>
                            </div>
                        </form>
                          
                    </div>

                    <div class="tab-pane" id="medicines">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Availability</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">Type</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Handle</th>
                              </tr>
                            </thead>
                            <tbody>

                                <% for(var i=0; i < medicines.length; i++) { %>
                                    <tr>
                                        <th scope="row"><%= medicines[i].id %></th>
                                        <td><%= medicines[i].name %></td>
                                        <td><%= medicines[i].availability %></td>
                                        <td><%= medicines[i].price %></td>
                                        <td><%= medicines[i].category %></td>
                                        <td><%= medicines[i].type %></td>
                                        <td><%= medicines[i].vendor %></td>
                                        <td>
                                            <a class="btn btn-secondary" href="">View</a>
                                        </td>
                                      </tr>
                                <% } %>
                              
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2">Upload a different photo</h6>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span class="custom-file-control"><button class="btn btn-primary">Choose file</button></span>
                </label><br><br><br>
                <label><a href="/home/logout" class="btn btn-secondary">Logout</a></label>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(() => {
            $("#add_medicine_button").click(() => {
                alert('Medicine Added');
            })
        });
    </script>

</body>
</html>